
<ion-row nowrap align-items-center>
  <ion-col class="temp">
    {{city.main.temp|celcius}}°C
  </ion-col>
  <ion-col>    
    <img [src]="city.weather[0].icon|weatherIcon" [title]="city.weather[0].main"/>
  </ion-col>
  <ion-col col-9>
    <div class="city-name">{{city.name}} - {{city.sys.country}}</div>
    <div class="weather-desc">{{city.weather[0].description}}</div>
  </ion-col>
  <ion-col>
    <ion-icon name="information-circle" (click)="navToDetails()"></ion-icon>
  </ion-col>      
</ion-row>
