page-favorite {
    ion-content {
        @include linear-gradient(top,$very-blue);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
      }
}
