<ion-header>
  <ion-navbar navbar color="primary">
    <ion-title text-center>
      kMétéo
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addFavorite()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="locationMeteo" no-padding>
      <ion-row class="section-title" align-items-center	>
        <ion-col>Ma position</ion-col>
      </ion-row>
      <city-row [city]="locationMeteo"></city-row>
  </ion-grid>

  <ion-grid *ngIf="favoritesMeteo.length > 0" no-padding>
      <ion-row  class="section-title" align-items-center	>
        <ion-col>Mes Favoris</ion-col>
      </ion-row>
      <city-row *ngFor="let favorite of favoritesMeteo" [city]="favorite" [isFavorite]="true"></city-row>
  </ion-grid>
</ion-content>
