<ion-header>
  <ion-navbar>
    <ion-title text-center>
      kMétéo
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addFavorite()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid *ngIf="locationMeteo">
      <ion-row class="section-title">
        <ion-col>Ma position</ion-col>
      </ion-row>
      <city-row [city]="locationMeteo"></city-row>
  </ion-grid>

  <ion-grid *ngIf="favoritesMeteo.length > 0">
      <ion-row  class="section-title">
        <ion-col>Mes Favoris</ion-col>
      </ion-row>
      <city-row *ngFor="let favorite of favoritesMeteo" [city]="favorite"></city-row>
  </ion-grid>
</ion-content>
